attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.3
docutils==0.22.3
filelock==3.20.0
HTMLParser==0.0.2
ipython==8.30.0
ipywidgets==8.1.5
jnius==1.1.0
keyring==25.6.0
protobuf==6.33.1
pyOpenSSL==25.0.0
pyOpenSSL==25.3.0
redis==7.1.0
Sphinx==9.0.4
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
